#menu {
  height: 922px; }
  #menu ul li {
    color: white; }
  #menu ul li :hover {
    background-color: transparent; }
  #menu .box {
    border: 1px solid red; }
  #menu .col-md-8 {
    position: absolute;
    top: 0px;
    left: 556px; }
  #menu .col-md-2 {
    position: absolute;
    top: 0px;
    left: 278px; }
  #menu .col-md-22 {
    position: absolute;
    top: 0px;
    left: 1318px;
    color: white;
    font-size: 13px;
    margin-top: 18px; }
    #menu .col-md-22 span {
      color: #19C5FF;
      border: 1px solid #19C5FF; }
  #menu h1 {
    position: absolute;
    top: 400px;
    font-size: 55px;
    color: white;
    left: 450px; }
  #menu h4 {
    position: absolute;
    top: 500px;
    color: white;
    left: 500px;
    font-size: 25px; }
  #menu button {
    position: absolute;
    top: 550px;
    left: 650px;
    background-color: #19C5FF;
    width: 238px;
    height: 44px;
    border: none;
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 20px;
    border-radius: 2px; }
    #menu button i {
      color: white;
      font-size: 20px; }
  #menu h3 {
    border: 1px solid white;
    color: white;
    font-size: 20px; }
  #menu span {
    color: #19C5FF; }
  #menu p {
    position: absolute;
    top: 550px;
    left: 900px;
    width: 138px;
    height: 44px;
    border: 1px solid white;
    color: white;
    padding-top: 10px;
    padding-left: 25px;
    border-radius: 1px; }
  #menu p:hover {
    background-color: white;
    color: #19C5FF;
    transition: 0.5s; }

#logo {
  height: 121px;
  background-color: lightgray; }
  #logo .col-md-8 img {
    margin-right: 20px;
    margin-left: 10%; }

#active {
  color: #19C5FF;
  text-decoration: underline;
  background-color: transparent; }

#four {
  height: 800px;
  background-color: black; }

#five {
  height: 800px;
  background-color: purple; }

#six {
  height: 800px;
  background-color: pink; }

#one {
  height: 1700px;
  background-color: white; }
  #one #slider {
    height: 657px; }
    #one #slider h4 {
      background-color: white;
      width: 181px;
      height: 60px;
      padding: 0px;
      margin: 0px;
      color: gray;
      font-size: 20px;
      border-radius: 1px;
      border: 1px solid  lightgray;
      float: left;
      padding-top: 20px;
      padding-left: 40px;
      font-size: 14px; }
    #one #slider h4:hover {
      background-color: #19C5FF;
      color: white; }
    #one #slider .active {
      background-color: #19C5FF;
      color: white; }
    #one #slider .col-md-8 {
      margin-top: 60px; }
    #one #slider span {
      color: #19C5FF; }
    #one #slider h1 {
      color: gray;
      padding-left: 100px; }
    #one #slider p {
      line-height: 22px;
      font-size: 19px;
      text-align: center; }
    #one #slider h5 {
      font-size: 14px;
      width: 160px;
      height: 50px;
      background-color: transparent;
      border: 1px solid #19C5FF;
      float: left;
      margin-right: 20px;
      border-radius: 2px;
      padding-top: 13px;
      padding-left: 22px;
      color: #19C5FF;
      text-transform: uppercase; }
    #one #slider .center {
      margin-left: 140px;
      margin-top: 40px; }
    #one #slider h5:hover {
      background-color: #19C5FF;
      color: white; }

#technology .col-md-6 {
  height: 519px; }
#technology .col-md-8 {
  margin-top: 55px; }
#technology span {
  color: #19C5FF; }
#technology p {
  font-size: 20px;
  line-height: 30px; }
#technology h1 {
  color: gray; }

#helmet {
  height: 588px; }
  #helmet span {
    color: #19C5FF; }
  #helmet .col-md-7 {
    margin-top: 80px;
    text-align: right;
    line-height: 25px; }
  #helmet h1 {
    color: gray; }

#two {
  height: 560px;
  background-color: #F0F0F0; }
  #two h3 {
    color: #19C5FF; }
  #two .slider2 {
    width: 313px;
    height: 140px;
    background-color: transparent;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer; }
  #two .slider2:hover {
    background-color: #19C5FF;
    color: white;
    transition: 0.8s; }
  #two p, #two h3 {
    padding-left: 80px; }
  #two .col-md-12 {
    margin-top: 50px; }

#three {
  height: 800px;
  background-color: white; }

.go {
  text-align: center; }

.box {
  height: 230px; }
  .box i {
    color: #19C5FF; }
  .box span {
    line-height: 19px;
    color: gray; }
  .box i:hover {
    color: #7fdfff; }

/*# sourceMappingURL=style.css.map */
