#menu{

     height: 922px;
     ul li{
        color: white;
     }
     ul li :hover {
        background-color:transparent;

     }
	.box{
		border: 1px solid red;
	}
    .col-md-8{
        position: absolute;
        top: 0px;
        left: 556px;
    }
    .col-md-2{
        position: absolute;
        top: 0px;
        left: 278px; 
}
.col-md-22{
        position: absolute;
        top: 0px;
        left: 1318px; 
        color:white;
        font-size: 13px;
        margin-top: 18px;
        span{
            color: $colorBlue;
            border: 1px solid $colorBlue;
        }
}
h1{
    position:absolute;
    top:400px;
    font-size: 55px;
    color: white;
    left: 450px;
}
h4{
    position:absolute;
    top:500px;
    color: white;
    left: 500px;
    font-size: 25px;
}
button{
    position:absolute;
    top:550px;
    left: 650px;
    background-color: $colorBlue;
    width: 238px;
    height: 44px;
    border: none;
    padding: 0px;
    margin: 0px;
    color:white;
    font-size: 20px;
    border-radius: 2px;
i{
    color:white;
    font-size: 20px;
}

}
h3{
    border:1px solid white;
    color:white;
    font-size: 20px;
}

span{
    color:$colorBlue; 
}
p{
    position:absolute;
    top:550px;
    left: 900px;
    width: 138px;
    height: 44px;
    border: 1px solid white;
    color: white;
    padding-top: 10px;
    padding-left: 25px;
    border-radius: 1px;
}
p:hover{
    background-color: white;
    color: $colorBlue;
    transition: 0.5s;
}
}
#logo{
    height: 121px;
    background-color:lightgray;
    .col-md-8 img{
        margin-right: 20px;
        margin-left: 10%;
    
    }

}

#active{
    color: $colorBlue;
    text-decoration: underline;
    background-color:transparent;


}


#four{
    height: 800px;
    background-color: black;
}
#five{
    height: 800px;
    background-color: purple;
}
#six{
    height: 800px;
    background-color: pink;
}
